
.me {
    border-radius: 50%; 
}
.credit {
    display: inline-block;
    font-size: .5rem;
}

/* Laptop Breakpoint */
@media (max-width: 320px) {
    .me {
        width: 100%;
    }
    welcome {
      font-size: 60px;
    }
    .link {
        font-size: .75rem;
    }
}

@media (min-width: 768px) {
    .row {
        flex: 50%;
    }
}